.card {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Adjust the width of the card */
    margin: 10px; /* Add space around the card */
}

.icon {
    font-size: 24px; /* Adjust the font size of the icon */
    margin-right: 20px; /* Add space between the icon and the content */
}

.content {
    flex: 1; /* Allow the content to expand to fill the available space */
}

.heading {
    font-size: 18px; /* Adjust the font size of the heading */
    margin: 0; /* Remove any default margins */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0; /* Add space above and below the line */
}

.description {
    font-size: 18px; /* Adjust the font size of the description */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
